<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center h-20">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <h1>Stupid Coaching</h1>
        <div class="form-group">
          <form action="/answer" data-turbo="false">
            <input class="form-control" type="text" name="question">
            <input class="btn btn-primary" type="submit" value="Ask!">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
